<template>
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    Login
                </div>
                <div class="card-body">
                    <form class="form" @submit.prevent="authenticate()">
                        <div class="form-group">
                            <label>Email: </label>
                            <input type="text" class="form-control" v-model="form.email" />
                            <small class="text-danger" v-if="errors.email">{{errors.email[0]}}</small>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" v-model="form.password" />
                            <small class="text-danger" v-if="errors.password">{{errors.password[0]}}</small>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-sm btn-primary" type="submit">Login</button>
                        </div>

                        <div class="form-group" v-if="authError">
                            <p class="text-danger text-center">
                                {{authError}}
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {loginUser} from "../../api/auth";

    export default {
        data() {
            return {
                form: {
                    email: '',
                    password: ''
                },
                errors: {

                }
            }
        },
        computed: {
            authError() {
                return this.$store.getters.auth_error;
            }
        },
        methods: {
            authenticate() {
                this.errors = {};
                loginUser(this.form)
                    .then(res => {
                        this.$store.commit('loginSuccess', res.data);
                        this.$router.push({path: '/'});
                    })
                    .catch(err => {
                        if(err.status === 422) this.errors = err.data.errors;
                        if(err.status === 401) this.$store.commit('loginFailed', {err})
                    })
            }
        }
    }
</script>
