<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="card card-default">
                    <div class="card-header">Vue.JS Login with Passport example</div>

                    <div class="card-body">
                        <h2>{{welcome}}</h2>
                        <img width="80%" class="card-img" src="https://vuejs.org/images/logo.png" alt="WeCode">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        computed: {
            welcome() {
                return this.$store.getters.welcome;
            }
        },
    }
</script>
