<template>
    <div class="container">
        <NavComponent />
        <div class="content">
            <router-view></router-view>
        </div>
    </div>
</template>
<script>
import NavComponent from './layouts/NavComponent';
export default {
    data() {
        return {

        }
    },
    components: {
        NavComponent
    }
}
</script>
