<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <router-link class="navbar-brand" tag="a" to="/">Laravel 7.x</router-link>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <template v-if="!currentUser">
                    <li class="nav-item">
                        <router-link :to="{path: '/login'}" tag="a" class="nav-link">Login</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link :to="{path: '/register'}" tag="a" class="nav-link">Register</router-link>
                    </li>
                </template>
                <template v-else>
                    <li class="nav-item dropdown">
                        <a id="navbarDropdown"
                           class="nav-link dropdown-toggle"
                           href="#"
                           role="button"
                           data-toggle="dropdown"
                           aria-expanded="false"
                           aria-haspopup="true">
                            {{currentUser.name}} <span class="caret"></span>
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a href="#!" @click.prevent="logout" class="dropdown-item">Logout</a>
                        </div>
                    </li>
                    <!--<li class="nav-item">-->
                        <!--<router-link :to="{path: '/customer'}" tag="a" class="nav-link">Customer</router-link>-->
                    <!--</li>-->
                </template>
            </ul>
        </div>
    </nav>
</template>
<script>
    export default {
        computed: {
            currentUser() {
                return this.$store.getters.currentUser;
            }
        },
        methods: {
            logout(){
                this.$store.commit('logout');
                this.$router.push({path: '/login'});
            }
        }
    }
</script>

